<table class="table">
  <thead>
    <tr>
      <th scope="col">Оперция</th>
      <th scope="col">Валюта</th>
      <th scope="col">Количество</th>
      <th scope="col">Сумма</th>
    </tr>
  </thead>
  </tbody>
    <tr>
      <td><%= get_resource.operation %></td>
      <td><%= get_resource.coin %></td>
      <td><%= get_resource.number %></td>
      <td><%= get_resource.sum %></td>
    </tr>
  </tbody>
</table>
<%= link_to "Редактировать", edit_deal_path(get_resource), :class => 'btn btn-warning' %> 
<%= link_to "Удалить", deal_path(get_resource), method: :delete, data: {confirm: "Хотите удалить?"}, :class => 'btn btn-danger' %> 