
<h2> Добавление новой криптовалюты </h2>
<%= form_for :coin, url:coins_path do |f| %>
    <% if get_resource.errors.any? %>
        <% get_resource.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>
    <p>
    Наименование<br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>
    <p>
    Тикер<br>
    <%= f.text_field(:ticker, {:class => 'form-control'}) %>
    </p>

    <p>
    <%= f.submit("Cохранить", {:class => 'btn btn-success'}) %>
    </p>
<% end %>